# Environments
venv/
.venv/
env/
.env/

# task share software
task-share 

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.specstory/
.cursorindexingignore

# Original source images (large BMPs)
original_pics/

# Data
qualtrics_data/
#*.json
!_config.yml
